# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.env
*.venv
.env/
env/
venv/
virtualenv/
db.sqlite3

# Django
*.pot
*.py[cod]
*.sqlite3
*.log

# Django specific
/static/
/media/

# mypy
.mypy_cache/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# JetBrains
.idea/

# Docker
docker-compose.override.yml
